MONGODB_AGENTIC_API_URL=https://agentic-platform.mongodb.com/api/v1/invokeWorkspaceStream

# `agentic projects list`
MONGODB_AGENTIC_PROJECT_ID=

# `agentic workspace list`
MONGODB_AGENTIC_WORKSPACE_ID=

# `agentic api-keys create`
MONGODB_AGENTIC_API_KEY=

